<div id="content">
	<div class="container">
		<div v-if="$loadingRouteData">
			<h3>Loading Build...</h3>
		</div>
		<div class="container error" v-repeat="line in message" v-text="line"></div>
		<div class="build" v-if="build">
			<div class="champion">
				<Champion champion-id="{{ build.champion }}" width="128" height="128"></Champion>
			</div>
			<div class="build-name">
				<div class="title">{{ build.name | uppercase }}</div>
				<div class="subtitle">{{ championName(build.champion) | uppercase }}</div>
			</div>
			<div class="build-contents">
				<Item v-repeat="itemId in build.items"></Item>
				<summoner-spell v-repeat="summonerSpellId in build.summoners"></summoner-spell>
			</div>
		</div>
	</div>
</div>