@import url(http://fonts.googleapis.com/css?family=Allan:bold);

.header {
	display: flex;
	flex-basis: 100%;
	width: 100%;
	text-align: center;
	font-family: 'Allan', serif;
	font-weight: bold;
	font-size: 48pt;
		
	a { color: $action-color; }
}