<div class="generator-settings">
	<h1>Settings</h1>
	
	<section id="map-selection">
		<h3>Map</h3>
		<span v-repeat="map in maps">
			<input id="map{{$index}}" type="radio" v-model="settings.map" value="{{map.id}}" />
			<label for="map{{$index}}">{{ map.name }}</label>
		</span>
	</section>
	
	<section id="champion-selection">
		<h3>Champions</h3>
		<champion-select selected-champions="{{@ settings.champions}}"></champion-select>
	</section>
	
	<section id="option-section">
		<h3>Options</h3>
	</section>
</div>
