
.generator-settings {
	display: flex;
	flex-flow: row wrap;

	.title {
		flex: 1 0 100%;
	}

	& > .section {
		flex: 1 0 $minimum-column;
		min-width: $minimum-column;

		&.double {
			flex-grow: 2;
			flex-basis: $minimum-column * 2;
			min-width: $minimum-column * 2;
		}
	}
}