/*
.generator-settings {
	display: flex;
	flex-flow: row wrap;

	.title {
		flex: 1 0 100%;
	}

	& > .section {
		flex: 1 0 $minimum-column;
		min-width: $minimum-column;

		&.double {
			flex-grow: 2;
			flex-basis: $minimum-column * 2;
			min-width: $minimum-column * 2;
		}
	}
}
*/

.generator-settings {
	margin-top: 10px;
	
	input[type=radio] {
		display: none;
		
		& + label {
			display: inline-block;
			padding: 0 10px;
			margin: 0 5px;
			border: 1px solid $light-gray;
			cursor: pointer;
		}
		
		&:checked + label {
			border-color: $action-color;
		}
	}
	
	#map-selection {
		margin-bottom: 10px;
	}
}